.amount-container {
    text-align: center;
    padding: 20px;
}

.list-container {
    height: 65vh;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.list-item {
    margin-top: 8px;
    background: #4eb24f;
    border-radius: 4px;
}